body {
  margin: 0;
  padding: 0;

  font-family: cursive;
  background-color: lightblue;
}
#root {
  background-color: lightcyan;
  margin: 5% auto;
  width: 50%;
  height: 30%;
  border-radius: 20px; 
}
button {
    background-color: white;
    border: 1px solid green;
    color: green;
    border-radius: 5px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
button:hover {
  background-color: green;
  color:white;
  cursor: pointer;
  transition: all ease 0.7s;
}
.button-group {
  padding-bottom: 10px;
}
.list-numbered > li:before {
	position: absolute !important;
	left: -2.25em !important;
	display: inline-block !important;
  width: 22px !important;
	height: 22px !important;
	margin-right: 0.5em !important;
  background-color: #B53C2C !important;
	border-radius: 50% !important;
	color: #fff !important;
	text-align:center !important;
  line-height: 1.25em !important;
	counter-increment: line !important;
	content: counter(line) !important;
}